<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{site_logo}}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Acme|Alegreya|Alegreya+Sans|Anton|Archivo|Archivo+Black|Archivo+Narrow|Arimo|Arvo|Asap|Asap+Condensed|Bitter|Bowlby+One+SC|Bree+Serif|Cabin|Cairo|Catamaran|Crete+Round|Crimson+Text|Cuprum|Dancing+Script|Dosis|Droid+Sans|Droid+Serif|EB+Garamond|Exo|Exo+2|Faustina|Fira+Sans|Fjalla+One|Francois+One|Gloria+Hallelujah|Hind|Inconsolata|Indie+Flower|Josefin+Sans|Julee|Karla|Lato|Libre+Baskerville|Libre+Franklin|Lobster|Lora|Mada|Manuale|Maven+Pro|Merriweather|Merriweather+Sans|Montserrat|Montserrat+Subrayada|Mukta+Vaani|Muli|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|Pacifico|Passion+One|Pathway+Gothic+One|Play|Playfair+Display|Poppins|Questrial|Quicksand|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Ropa+Sans|Rubik|Saira|Saira+Condensed|Saira+Extra+Condensed|Saira+Semi+Condensed|Sedgwick+Ave|Sedgwick+Ave+Display|Shadows+Into+Light|Signika|Slabo+27px|Source+Code+Pro|Source+Sans+Pro|Spectral|Titillium+Web|Ubuntu|Ubuntu+Condensed|Varela+Round|Vollkorn|Work+Sans|Yanone+Kaffeesatz|Zilla+Slab|Zilla+Slab+Highlight" rel="stylesheet">
    <link rel="stylesheet" href="/style/mystyle.css" />
          <style>
        :root{
            --primary-color:{{theme.colors.primary}};
            --primary-shadow:{{theme.colors.primaryShadow}};
            --secondary-color:{{theme.colors.secondary}};
            --font-family:{{theme.fontFamily.name}};
        }
    </style>
</head>

<body>
    <!-- ---------------------navbar--------------------------- -->
    <nav class="navbar fixed-top navbar-expand-lg bg-white py-3" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="http://hostaclass.com">Hostaclass.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto menu">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://hostaclass.com/features">features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://hostaclass.com/pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://hostaclass.com/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current=" page" href="/blog">Blog</a>
                    </li>
                </ul>
                <ul class="btns">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" aria-current="page" href="/packages">Join for free</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- -----------------page content------------------------------- -->
<section class="single-hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center flex-column">
                <h3 class="text-white">{{postData.title}}</h3>
                <div class="post-meta d-flex">
                 <div class="author_img"><img
                       src="{{#if postData.avatar}}{{postData.avatar}}{{else}}/images/Assets/pngegg.png{{/if}}"
                       alt="pngegg.png" class="w-100 {{#unless postData.avatar}}white{{/unless}}"></div>
                   <div class="author_content">
                       <h6 class="h6 text-white"><b>{{postData.author.name}}</b></h6>
                       <p class="text-white">{{formatDate postData.createdAt}}</p>
                   </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-md-0">
                <img src="{{postData.image}}" alt="" class="w-100 rounded-5">
            </div>
        </div>
    </div>
</section>

<section class="post-content">
    <div class="container overflow-hidden">
        {{{postData.content}}}
    </div>
</section>

    <section>
        <div class="footer px-3">
            <h1 class="h1 text-center">Sign Up For Our Newsletters</h1>
            <div class="d-flex justify-content-center pt-5"><button><a href="/packages">Sign up for free</a></button></div>
        </div>
    </section>
    <!-- ----------------------scripts------------------------- -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" crossorigin="anonymous"></script>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
